@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

nav {
    background-color: rgb(82, 82, 82);
}

.nav-link {
    color: white;
}