@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-nav {
    display: flex;
    justify-content: right;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-nav a:last-child {
    color: green;
}

/* Info principal de la conferencia*/

.conferenceInfo {
    height: 675px;
    color: white;
    /* Acá intenté usar un carousel con las otras fotos de ba, pero me quedaba siempre el texto y la sombra abajo y no supe como arreglarlo, si es posible me gustaría poder recibir alguna resolución para resolverlo*/
    background-image: url(../resources/ba1.jpg);
    background-size: cover;
}

#shadowLayer {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.conferenceInfo .container-flex {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.conferenceContent {
    width: 50%;
    text-align: right;
    margin: 0 0 20% 0;
}

/* Sección de Oradores/Speakers */

.speakersInfo .title {
    text-align: center;
}

h6 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.speakersCards {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.speakersCards .card {
    min-width: 350px;
    width: 30%;
}

.specialty {
    display: flex;
}

.specialty h6 {
    font-size: small;
    font-weight: bolder;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 0;
}

.specialty .yellowCategory {
    background-color: rgb(248, 191, 33);
    border-radius: 5px;
}
.specialty .cyanCategory {
    background-color: rgb(33, 151, 248);
    color: whitesmoke;
    border-radius: 5px;
}
.specialty .greyCategory {
    background-color: rgb(90, 92, 94);
    color: whitesmoke;
    border-radius: 5px;
}
.specialty .redCategory {
    background-color: rgb(226, 38, 38);
    color: whitesmoke;
    border-radius: 5px;
}

.card h5 {
    font-weight: bold;
    padding: 1px;
}

.card p {
    font-size: 0.8rem;
}